.one{
    width: 400px;
    height: 200px;
    border: 1px solid;
    background-color: green;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
.two{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 25px;
    left: 120px;
}
.bel1{
    width: 300px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.bel2{
    width: 100px;
    height: 180px;
    background-color: black;
    position: absolute;
}
.bel3{
    width: 100px;
    height: 180px;
    background-color: yellow;
    position: absolute;
    left: 100px;
}
.bel4{
    width: 100px;
    height: 180px;
    background-color: red;
    position: absolute;
    right: 0;
}
.ger1{
    width: 300px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.ger2{
    width: 300px;
    height: 60px;
    background-color: black;
    position: absolute;
}
.ger3{
    width: 300px;
    height: 60px;
    background-color: red;
    position: absolute;
    top: 60px;
}
.ger4{
    width: 300px;
    height: 60px;
    background-color: orange;
    position: absolute;
    bottom: 0;
}
.ned1{
    width: 300px;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    border: 1px solid;
}
.ned2{
    width: 300px;
    height: 60px;
    background-color: red;
    position: absolute;
}
.ned3{
    width: 300px;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 60px;
}
.ned4{
    width: 300px;
    height: 60px;
    background-color: blue;
    position: absolute;
    bottom: 0;
}
